:root {
  /* --clr-primary-1: hsl(51, 30%, 95%); */
  /* --clr-primary-2: hsl(53, 33%, 96%); */
  /* --clr-primary-3: hsl(51, 26%, 95%); */
  --clr-primary-3: var(--mainWhite);
  --clr-primary-2: white; 
  --clr-primary-1: var(--mainWhite)
  

  /* menu-link-color */
  --clr-primary-5: hsl(60, 2%, 20%);

  /* --clr-primary-8: hsl(53, 3%, 71%); */
  --clr-primary-8: hsl(53, 3%, 71%);
  --transition: all 0.5s ease2;

  --medium-shadow: 0 2.5px 15px rgba(49, 45, 45, 0.2);
  --dark-shadow: 5px 2.5px rgba(0, 0, 0, 0.2);

  --mainWhite: #fff;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  /* --mainTransition: all 0.3s linear; */
  --mainBorderRadius: 0.25rem;

  /* fonts */
  --josefin: "Josefin Sans", sans-serif;
  --mont : 'Montserrat', sans-serif;
}
* {
  box-sizing: border-box;
}

body {
  background: var(--clr-primary-2);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.link-btn {
  font-family: var(--mont);
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  font-size: 85%;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
  cursor: pointer;
  opacity: 0.7;
}
.link-btn:hover {
  font-weight: bold;
  opacity: 1;
}

.loading-screen {
  background-color: red;
}

/*
=============== 
Navbar
===============
*/
.toolbar-1 {
  background: var(--clr-primary-3);
  box-shadow: var(--light-shadow);
  /* background: whitesmoke;
  box-shadow: lightgrey; */
  display: flex;
  height: 37px;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
/* .nav-header {
  flex:5;
  align-items: center;
  justify-content: space-between;
  padding: 0 2% 0 0;
} */
.toggle-btn {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.toggle-btn:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

.logo-container{
  /* flex: 1; */
  text-align: center;
  /* width: 12rem; */
  
}

.brand-logo{
  /* color: black; */
    font-family: var(--mont);
    font-weight: 500;
    font-size: larger;
}

.social-icons {
  display: none;
}
.menu-links {
  max-width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

@media screen and (min-width: 800px) {
  .menu-links {
    flex: 6;
    max-width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1% 0 0;
  }
  ul.menu-links li {
    padding: 0 0.5rem;
  }
  .nav-header {
    flex:5;
    padding: 0;
    width: auto;
    display: flex;
    /* justify-content: center; */
        padding: 0 0 0px 60px;
        align-items: center;
  }
  .social-icons {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding: 1rem; */
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }

  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }

  .toggle-btn {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .sidebar-wrapper {
    display: none;
  }
}
/* links */
.submenu {
  background: var(--clr-primary-3);
  box-shadow: var(--medium-shadow);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

.submenu.show {
  display: block;
  width: 100%;
  position: absolute;
}

.submenu-center {
  display: flex;
  /* gap: 0.25rem 2rem; */
}


ul.submenu-tips {
  list-style-type: square;
  font-family: var(--josefin);
  opacity: 0.7;
  text-transform: capitalize;
}

.flex-comp-1 {
  flex-basis: 10%;
  padding: 2rem;
  border-right: 2px solid #eee;
}
.flex-comp-2 {
  flex-basis: 90%;
}

/*
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
} */
.submenu h4 {
  margin-bottom: 1.5rem;
}
.submenu-links {
  display: block;
  cursor: pointer;
  font-family: var(--josefin);
  text-transform: uppercase;
  opacity: 0.7;
  margin: 1rem;
}
.submenu-center svg {
  color: green;
  margin-right: 1rem;
}

/*
=============== 
Models
===============
*/
.models {
  padding: 0.5rem 1rem;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}

.models-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-items: start; */
}
@media screen and (min-width: 576px) {
  .models-center {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0.5rem;
    row-gap: 2rem;
    justify-content: space-around;
  }
}
.centered-text {
  color: var(--clr-primary-2);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 3.5rem;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

.model {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: all 3s linear;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
  overflow: hidden;
  position: relative;
}
.model:hover {
  box-shadow: var(--darkShadow);
}
.img-container {
  object-fit: contain;
}
.model img {
  height: 100%;
  width: 100%;
  transition: all 3s;
  /* height: 20rem; */
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.model img:hover {
  transform: scale(1.1);
  /* filter: contrast(200%); */
  filter: brightness(50%) contrast(110%) blur(1px);
}

.model:hover .centered-text {
  text-decoration: underline;
}

/*
=============== 
Cover
===============
*/
/* .cover-section {
  width: 90vw;
  margin: 5rem auto;
  max-width: var(--max-width);
} */

/* .cover-page {
  display: flex;
  align-items: center;
  padding: 2rem;
} */
@media screen and (min-width: 800px) {
  .cover-page {
    position: relative;
    display: flex;
    align-items: center;
    padding: 2rem;
        height: 600px;
  }
}
.cover-section-1 {
  flex-basis: 50%;
  text-align: center;

  height: 100%;
  align-items: center;

  height: 250px;
}
.cover-footer {
  /* opacity: 0.8; */
    font-size: xx-small;
    background-color: black;
    color: white !important;
    border-radius: 3px;
 
}
.cover-grid-item-1 {
  font-family: var(--josefin);
  font-size: xx-large;
  margin: 5px;
  place-self: center;
}
.cover-grid-item-2 {
  /* grid-row: 3;
  grid-column: 1/3; */
  place-self: center;
}
.cover-grid-item-3 {
  /* grid-row: 4;
  grid-column: 1; */
  text-transform: lowercase;
  font-family: var(--josefin);
  justify-self: end;
}
.cover-grid-item-4 {
  /* grid-row: 4;
    grid-column: 1/3; */
    place-self: center;
    width: 90px;
}
.cover-grid-item-5 {
  /* grid-row: 5;
  grid-column: 1/3; */
  place-self: center;
}

.cover-section-2 {
  flex-basis: 50%;
  height: 100%;
  width: auto;
  overflow: hidden;
}

.design-button {
  align-items: center;
  background-color: black;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: var(--mont);
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 50%;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  vertical-align: middle;
}

.design-button:hover,
.design-button:focus {
  opacity: 0.8;
  color: #ffffff;
}

.design-button:active {
  background: #020b14;
  color: rgb(255, 255, 255, 0.7);
}

.design-button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
.cover-model {
  position: absolute;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: var(--transition);
}
.cover-model-image {
  position: relative;
  height: 900px;
}
article.activeCoverSlide {
  opacity: 1;
  position: relative;
  height: 900px;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  article.activeCoverSlide {
    display: none;
  }
}

article.lastCoverSlide {
  transform: translateY(-100%);
  display: none;
}
article.nextCoverSlide {
  transform: translateY(100%);
  display: none;
}

/*
=============== 
Reviews
===============
*/

@media screen and (min-width: 992px) {
  .review-section {
    width: 95vw;
    padding: 1rem;
  }
}
.review-title {
  text-align: center;
  margin-bottom: 2rem;
}
.review-title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.review-title span {
  font-size: 0.85em;
  color: var(--clr-primary-5);
  margin-right: 1rem;
  font-weight: 700;
}
.review-section-center {
  margin: 0 auto;
  /* margin-top: 4rem; */
  width: 80vw;
  /* have to have a height */
  height: 600px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid var(--clr-grey-8);
  box-shadow: var(--dark-shadow);
}
.review-article h4 {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  margin-bottom: 0.25rem;
}
.review-title {
  font-family: var(--josefin);
  text-transform: uppercase;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}
.review-text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}
.review-icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}
.prev-review,
.next-review {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.prev-review:hover,
.next-review:hover {
  background: var(--clr-primary-5);
}
.prev-review {
  left: 0;
}
.next-review {
  right: 0;
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev-review,
  .next-review {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
.review-article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
.review-article.activeReviewSlide {
  opacity: 1;
  transform: translateX(0);
}
.review-article.lastReviewSlide {
  transform: translateX(-100%);
}
.review-article.nextReviewSlide {
  transform: translateX(100%);
}

/*
=============== 
Sub-submenu
===============
*/
.subsubmenu-main {
  display: flex;
}
.subsubmenu-1 {
  flex-basis: 56%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 50% 50%;
  border-right: 2px solid #eee;
  padding: 1rem;
}
.submenu-image-container {
  height: 125px;
  overflow: hidden;
  margin: 1px;
}
.submenu-image {
  width: 160px;
  height: auto;
  opacity: 0.9;
  margin-bottom: -1em;
  transform: translate(0%, -14%);
  cursor: pointer;
}

.submenu-header {
  font-family: var(--josefin);
  margin: 0;
  grid-column: 1/3;
  font-size: 1.5rem;
  opacity: 0.5;
  text-align: center;
}
.submenu-tag {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--josefin);
  opacity: 0.8;
}

#submenu-tip:not(:last-child) {
  margin-bottom: 10px;
}

/*
=============== 
Design
===============
*/

.container-1 {
  grid-column: 1/4;
  width: 100%;
}

.step-row {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.design {
  display: grid;
  grid-template-rows: 2rem auto;
  grid-template-columns: auto auto auto;
  padding: 1em;
  text-align: center;
}
.design-footer {
  display: flex;
  justify-content: right;
}
.progress-bar {
  display: flex;
  justify-content: center;
  grid-column: 1/4;
  font-family: var(--josefin);
}
.step {
  padding: 0 2em;
  opacity: 0.8;
}
.step-active {
  border-bottom: 1px solid grey;
  display: inline-block;
  text-shadow: 2px 2px white, 2px -2px white, -2px 2px white, -2px -2px white;
}

.fabrics-page {
  display: flex;
}

.fabric {
  height: 7em;
  margin: 2px;
  cursor: pointer;
  position: relative;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

img.fabric-img {
  border-radius: 4px;
  background-color: #505050;
  /* box-shadow: 0; */
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
  object-fit: cover;
      cursor: pointer;
}


.design-content {
  display: flex;
  width: 100%;
  height: 76vh;
}

.fabric-menu {
  overflow: scroll;
  width: 21.875em;
}
.selection {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: row;

  /* max-width: 100%; */
  height: 100%;
  padding: 0 1em;
}

.fabrics .selection:hover {
  color: rgba(0, 0, 0, 0.3);
}

.choice {
  grid-template-columns: 1/3;
}
.choice-switch {
  display: flex;
  justify-content: space-between;
}

.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 17px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* 
input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/*
=============== 
Filter
===============
*/
.sidebar-filter {
  z-index: 1;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--clr-primary-3);
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-120%);
  padding: inherit;
  overflow: scroll;
}
.show-sidebar-filter {
  transform: translate(0);
  height: inherit;
}
@media screen and (min-width: 676px) {
  .sidebar-filter {
    width: 365px;
    left: 0;
    /* height: inherit; */
    /* background-color: var(--clr-primary-3); */
  }
}
.filter-labels {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: var(--josefin);
  text-transform: uppercase;
}
.arrow {
  cursor: pointer;
}
ul.filter-section {
  padding: 0;
}
.subfilter.show {
  position: relative;
}
.filter-component {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto;
  text-align: start;
  padding: 1em;
  list-style: none;
}

/*
=============== 
SuitCustomizedLook
===============
*/

.custom-suit-container {
  /* flex-grow: 1; */
  flex-basis: 50%;
}

img.custom-suit-image {
  max-height: 100%;
  height: 100%;
  padding: 1em;
  border-radius: 25px;
}

.custom-detail-container {
  flex: 1;
}

.name {
  font-size: 0.8rem;
  font-family: var(--josefin);
  color: var(--clr-primary-5);
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0px;
  background-color: rgb(0, 0, 0, 0.06);
  width: fit-content;
}
p#about {
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 350;
  text-align: right;
  color: var(--clr-primary-5);
  margin-top: 0;
}

/* Tooltip */
[data-tooltip] {
  position: relative;
  display: inline-block;
}

[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 999999;
}

[data-tooltip]:before {
  content: "";
  position: absolute;
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
}

[data-tooltip]:after {
  padding: 11px;
  font-size: 13px;
  line-height: 11px;
  content: attr(data-tooltip);
}

[data-tooltip].simptip-position-bottom:before {
  border-bottom-color: #323232;
}

[data-tooltip].simptip-position-bottom:after {
  background-color: #323232;
  color: #ecf0f1;
}

[data-tooltip]:hover,
[data-tooltip]:focus {
  background-color: transparent;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after {
  visibility: visible;
  opacity: 1;
}

.simptip-position-bottom:before,
.simptip-position-bottom:after {
  left: 50%;
}

.simptip-position-bottom:after {
  margin-left: -90px;
}

.simptip-smooth:after {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
p.measure-check {
  font-size: 0.8em;
  text-align: left;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.simptip-position-bottom:before,
.simptip-position-bottom:after {
  top: 100%;
}

.simptip-position-bottom:before {
  margin-top: -5px;
  /*-5px*/
}

.simptip-position-bottom:after {
  margin-top: 7px;
}

.simptip-position-bottom.simptip-movable:hover:before,
.simptip-position-bottom.simptip-movable:hover:after {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}

.bill {
  font-family: var(--mont);
    display: flex;
    justify-content: space-between;
}

.read-or-hide {
  color: rgb(192, 192, 192);
  cursor: pointer;
}

/* dropdown */
.dropdown {
  margin: 0 20px;
  vertical-align: top;
}

.dropdown {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 28px;
  width: 150px;
  background: #f2f2f2;
  border: 1px solid;
  /* border-color: white #f7f7f7 whitesmoke;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(
    top,
    transparent,
    rgba(0, 0, 0, 0.06)
  );
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.06)
  );
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08); */
}

.dropdown:before,
.dropdown:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-size: 12px;
  color: #62717a;
  text-shadow: 0 1px white;
  background: #f2f2f2; /* Fallback for IE 8 */
  background: rgba(
    0,
    0,
    0,
    0
  ) !important; /* "transparent" doesn't work with Opera */
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-select:focus {
  z-index: 3;
  width: 100%;
  outline: none;
  border: none;
  /* color: #394349; */
  /* outline: none; */
  /* outline: 2px solid #49aff2;
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px; */
}

.dropdown-select > option {
  margin: 3px;
  padding: 6px 8px;
  text-shadow: none;
  background: #f2f2f2;
  border-radius: 3px;
  cursor: pointer;
}

.class-title {
  font-family: var(--josefin);
  padding: 6px;
  width: 50px;
}

/* Image checkbox */

/* input[type="checkbox"][id^="myCheckbox"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  z-index: -1;
} */

.centered-text-grid {
  /* z-index: 1; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-primary-2);
  width: 100%;
  text-align: center;
  border-radius: 2px;
  background-color: rgb(0, 0, 0, 0.4);
}

.color-container {
  display: flex;
  width: 100%;
  height: 100%;

  padding: 0 1em;
}

/* .check-symbol {
  display: none;
}
.check-symbol.show {
  display: block;
} */

#checkboxes input[type="checkbox"] {
  display: none;
}

#checkboxes input[type="checkbox"]:checked + .whatever {
  background-color: green;
}

/* Buttons */

.design-button {
  align-items: center;
  background-color: black;
  border: 0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 50%;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.design-button:hover,
.design-button:focus {
  background-color: #16437e;
  color: #ffffff;
}

.design-button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.design-button:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.circle-stroke {
  width: 36;
  height: 36;
  background: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 100px;
  font-size: 16px;
  cursor: pointer;
}

button.circle-stroke:disabled,
button.circle-stroke[disabled] {
  display: hidden;
}

/* CSS */
.filter-button {
  /* float: left; */
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0px 4px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.filter-button:hover,
.filter-button:focus {
  opacity: 0.75;
}

.circle {
  cursor: pointer;
  border: none;
  border-radius: 2px;
  background-color: dodgerblue;
  /* background: var(--clr-primary-5); */
  color: #fff;
  font-size: 16px;
  opacity: 1;
  width: 50px;
  height: 2em;
  margin: 1px;
}
button.circle:disabled,
button.circle[disabled] {
  /* border: 1px solid #999999; */
  background-color: #cccccc;
  color: #666666;
}

.show-lining-container {
  height: 14rem;
  transform: translate(0);
}
.linings {
  display: grid;
  grid-template-columns: auto auto;
}
.addon {
  text-align: left;
  font-family: var(--josefin);
}

.cart-header {
  padding: 1rem;
  text-align: center;
  font-family: var(--josefin);
  text-transform: uppercase;
  opacity: 0.8;
}
.cart-body {
  display: flex;
  font-family: var(--mont);
  /* padding: 0 10rem; */
      justify-content: space-around;
}
.cart-items {
 flex-basis: 70%;
    
}
.cart-item {
    border-top:  1px solid #f3f3f3;
    height: 13rem;
    display: flex;
    /* border-top: solid #313130; */
justify-content: space-between;
    margin: 1.5px;
    padding: 0 1rem 0 0;
    /* box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%); */
}

img.cart-image {
  width: 8rem;
  object-fit: cover;
}

.cart-value {
  text-transform: uppercase;
  font-size: 0.9rem;

}

.cart-page-header {
    margin: 1rem;
    text-align: center;
}

.cart-page-header-2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}


.selected-fabric{
      width: 23px;
    height: 23px;
    border-radius: 50%;
    display: inline-block;
}

button.edit{
          background: white;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.7rem;
    width: 1rem;
    position: relative;
    left: 37px;
}

.cart-item-left {
    display: flex;
}

.cart-details {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-subvalue {
    font-size: 0.7rem;
    opacity: 0.7;
}

button.close {
    height: 1rem;
    background: inherit;
    border: none;
    cursor: pointer;
    margin: 1rem;
}

.cart-bill>h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.order-totals-table th {
    font-weight: 400;
}
.order-totals-table td,  .order-totals-table th {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.order-totals-table td, .order-totals-table th {
    text-align: left;
    padding: 5px 10px 5px 0;
    white-space: normal;
}

.order-totals-table td {
    text-transform: capitalize;
}

.order-totals-table td {
    padding: 5px 0;
    text-align: right;
    vertical-align: top;
    width: 47%;
}

.text-right {
    text-align: right;
}

.cart-bill {
        flex-basis: 30%;
    padding: 0px 25px;
    background: #fafafa;
}

tr.order-total {
    font-weight: bold;
    font-size: 1.1rem;
}

.checkout-btn, .checkout-btn>a:visited {
  background-color: #222;
    border-radius: 1px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    margin: 25px 0px;
    max-width: none;
    min-height: 44px;
    min-width: 10px;
    position: relative;
    width: 100%;
}

.checkout-btn:hover,
.checkout-btn:focus {
  opacity: .75;
}

/* Payment Page */
.payment-title {
  width: 100%;
  text-align: center;
}

.form-container .field-container:first-of-type {
  grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
  grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
  grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
  grid-area: security;
}

.field-container input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.field-container {
  position: relative;
}

.form-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  grid-template-rows: 90px 90px 90px;
  grid-template-areas: "name name" "number number" "expiration security";
  max-width: 400px;
  padding: 20px;
  color: #707070;
}


.checkout-form input {
    width: 100%;
    height: 2rem;
}

.ccicon {
  height: 38px;
  position: absolute;
  right: 6px;
  top: calc(50% - 17px);
  width: 60px;
}

/* CREDIT CARD IMAGE STYLING */


.payment-container {
  width: 100%;
  max-width: 400px;
  max-height: 251px;
  height: 54vw;
  padding: 20px;
  margin: auto;
  background-color: #fafafa;
}

#ccsingle {
  position: absolute;
  right: 15px;
  top: 20px;
}

#ccsingle svg {
  width: 100px;
  max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
}

#generatecard {
  cursor: pointer;
  float: right;
  font-size: 12px;
  color: #fff;
  padding: 2px 4px;
  background-color: #909090;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}

.creditcard .lightblue {
  fill: #03a9f4;
}

.creditcard .lightbluedark {
  fill: #0288d1;
}

.creditcard .red {
  fill: #ef5350;
}

.creditcard .reddark {
  fill: #d32f2f;
}

.creditcard .purple {
  fill: #ab47bc;
}

.creditcard .purpledark {
  fill: #7b1fa2;
}

.creditcard .cyan {
  fill: #26c6da;
}

.creditcard .cyandark {
  fill: #0097a7;
}

.creditcard .green {
  fill: #66bb6a;
}

.creditcard .greendark {
  fill: #388e3c;
}

.creditcard .lime {
  fill: #d4e157;
}

.creditcard .limedark {
  fill: #afb42b;
}

.creditcard .yellow {
  fill: #ffeb3b;
}

.creditcard .yellowdark {
  fill: #f9a825;
}

.creditcard .orange {
  fill: #ff9800;
}

.creditcard .orangedark {
  fill: #ef6c00;
}

.creditcard .grey {
  fill: #bdbdbd;
}

.creditcard .greydark {
  fill: #616161;
}

/* FRONT OF CARD */
#svgname {
  text-transform: uppercase;
}

#cardfront .st2 {
  fill: #ffffff;
}

#cardfront .st3 {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
}

#cardfront .st4 {
  font-size: 54.7817px;
}

#cardfront .st5 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardfront .st6 {
  font-size: 33.1112px;
}

#cardfront .st7 {
  opacity: 0.6;
  fill: #ffffff;
}

#cardfront .st8 {
  font-size: 24px;
}

#cardfront .st9 {
  font-size: 36.5498px;
}

#cardfront .st10 {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
}

#cardfront .st11 {
  font-size: 16.1716px;
}

#cardfront .st12 {
  fill: #4c4c4c;
}

/* BACK OF CARD */
#cardback .st0 {
  fill: none;
  stroke: #0f0f0f;
  stroke-miterlimit: 10;
}

#cardback .st2 {
  fill: #111111;
}

#cardback .st3 {
  fill: #f2f2f2;
}

#cardback .st4 {
  fill: #d8d2db;
}

#cardback .st5 {
  fill: #c4c4c4;
}

#cardback .st6 {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

#cardback .st7 {
  font-size: 27px;
}

#cardback .st8 {
  opacity: 0.6;
}

#cardback .st9 {
  fill: #ffffff;
}

#cardback .st10 {
  font-size: 24px;
}

#cardback .st11 {
  fill: #eaeaea;
}

#cardback .st12 {
  font-family: "Rock Salt", cursive;
}

#cardback .st13 {
  font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
  perspective: 1000px;
}

.creditcard {
  width: 100%;
  max-width: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: -webkit-transform 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  cursor: pointer;
}

.creditcard .front,
.creditcard .back {
  position: absolute;
  width: 100%;
  max-width: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  color: #47525d;
}

.creditcard .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.creditcard.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}


/* Image checkbox */

/* ul {
  list-style-type: none;
}

li {
  display: inline-block;
} */

input[type="radio"][id^="cb"] {
  display: none;
}

.checkout-form label {
    padding-bottom: 5px;
    font-size: 1rem;
    text-align: left;
    border: 1px solid #fff;
    padding: 10px 0;
    display: block;
    position: relative;
    margin: 10px 0;
    cursor: pointer;
}

.amount-placeholder {
    font-weight: bold;
}

label::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+label {
  border-color: #ddd;
}

:checked+label::before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked+label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

li.social-icon {
    padding: 10px;
}





/* links */
.socialmenu {
  background: black;
    color: white;
    font-family: var(--mont);

  box-shadow: var(--light-shadow);
  position: absolute;
  top: 4rem;
  left: 50%;
  height: 16rem;
    width: 13rem;
    transform: translateX(-97%);
  z-index: 3;
  display: none;
  padding: 0px 1rem;
  border-radius: 3px;
  transition: var(--transition);
}
.socialmenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.socialmenu.show {
  display: block;
}

.socialmenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.socialmenu h4 {
  margin-bottom: 1.5rem;
}
.socialmenu-center a {
  width: 100%;
    display: block;
    color: var(--clr-grey-1);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    /* background: radial-gradient(black, transparent); */
    /* background: #221e1e; */
    padding: 0.5rem;
}
.socialmenu-center svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}

/* Coming Soon page */
.mobile-container {
    max-width: 500px;
    min-width: 300px;
}

.hero-image-desktop {
    display: none;
}

/* ---------- HERO BANNER DECLERATIONS ---------- */
.hero-banner {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hero-banner .logo-wrapper {
    height: auto;
    margin: 0 auto;
    padding: 1rem 0;
    width: auto;
}
    
    .logo-wrapper img {
        display: block;
        height: 2.5rem;
        margin: 0 auto;
        width: auto;
    }

.hero-banner .hero-image {
    background-image: url(https://images.lifestyleasia.com/wp-content/uploads/2018/12/27051901/Unreserved02169-1024x683.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 376px;
    width: 100%;
}

/* ---------- TEXT INFO DECLERATIONS ---------- */
.text-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

    .text-info > * {
        padding: 0 2.5rem 1rem;
    }

    /* intended for the first h2 within .text-info */
    .text-info h2:nth-child(1) {
        color: var(--theme-color-red);
        font-weight: normal;
        
    }

    .text-info h2 {
        font-size: 3.5rem;
        font-weight: bold;
        color: var(--theme-color-brown);
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 18px;
    }

    .text-info p {
        color: var(--theme-color-black);
        line-height: 24px;
    }

    .text-info .email-signup {
        margin: 1rem 0 6rem;
        position: relative;
        width: 100%;
    }
    
        .email-signup .email-input {
            border: 1px solid rgba(51, 51, 51, .7);
            border-radius: 3px;
            padding: 1rem 1.5rem;
            opacity: .5;
            width: 100%;
        }

        .email-signup .email-input:focus {
            background-color: var(--theme-color-white);
            outline: 2px solid var(--theme-color-black);
            opacity: 1;
        }

        .email-signup .email-submit {
            background-color: var(--theme-color-black);
            border-bottom: 1px solid var(--theme-color-black);
            border-radius: 2px;
            color: var(--theme-color-white);
            cursor: pointer;
            font-weight: bold;
            opacity: 1;
            padding: 1rem 1.5rem;
            position: absolute;
            right: 0;
            margin-right: 2.5rem;
            z-index: 10;
        }

@media only screen and (min-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        height: inherit;
        max-width: 100%;
        margin: 0 auto;
        padding-left: 3.5rem;
    }

    .coming-soon{
      display: flex;
    }

    .hero-banner .logo-wrapper {
        margin-left: 3.5rem;
        width: 100%;
        display: flex;
        align-items: start;
        flex-direction: column;
    }
        .logo-wrapper img {
            margin: 0 0 0;
            padding-left: 2.5rem;
        }

    .hero-image {
        display: none;
    }

    .text-info {
        text-align: left;
        align-items: start;
    }
    
        .text-info h2 {
            font-size: 4.5rem;
        }

        .text-info p {
            font-size: 16px;
        }

        .text-info input {
            font-size: 16px;
        }
  
        .text-info .email-signup {
            margin: 1rem 0 7rem;
        }

    .hero-image-desktop {
        display: block;
        height: 100%;

    }

    .hero-image-desktop img {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%);
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
  
    .email-signup .email-submit {
        border-bottom: 2px solid var(--theme-color-black);
    }
}

/* LoginPage */


/* form.register-form {
    display: flex;
    flex-direction: column;

    width: 100%;
    justify-content: center;
}

.login-page {
    display: flex;
  
    padding: 1rem;
    justify-content: center;
} */

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-form {
     background: #FFFFFF;
    max-width: 360px;

    text-align: center;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 4%);
}
.login-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #000000;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-form button:hover,.login-form button:active,.login-form button:focus {
  background: #43A047;
}
.login-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login-form .message a {
  color: #000000;
  text-decoration: none;
}

.footer-container{
  display: flex;
  flex-direction: "column" 
}

.footer-left{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer-desc{
  margin: 20px 0px;
}

.footer-social-container{
  display: flex;
}

.footer-social-icon{
    width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.footer-center{
  flex: 1;
  padding: 20px;

 
}
 .footer-title{
     margin-bottom: 30px;
  }

  .footer-list{
      margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  }

  .footer-list-item{
    width: 50%;
  margin-bottom: 10px;
  }

  .footer-right{
     flex: 1;
  padding: 20px;
  background-color: "#fff8f8";
  }

  .footer-contact-item{
      margin-bottom: 20px;
  display: flex;
  align-items: center;
  }

  .footer-payment{
      width: 50%;
  }